body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #add8e6;
  text-align: center;
}

h1 {
  margin-top: 10px;
}

#gameContainer {
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  background-color: #87ceeb;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  padding-bottom: 20px;
}

#startScreen {
  padding: 20px;
}

#startScreen img {
  max-width: 100%;
  height: auto;
}

#startScreen button {
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

#gameCanvas {
  display: none;
  border: 2px solid #000;
  background-color: #fff;
  width: 100%;
  height: auto;
}

#score {
  display: none;
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.2em;
}

/* Controles de toque */
#mobileControls {
  display: flex;
  justify-content: center;
  margin: 10px 0;
  gap: 20px;
}

#mobileControls button {
  padding: 15px 25px;
  font-size: 1.5em;
  border-radius: 10px;
  border: none;
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

#mobileControls button:active {
  background-color: #388E3C;
}

/* Ajustes para telas menores */
@media (max-width: 600px) {
  #mobileControls button {
    padding: 10px 15px;
    font-size: 1.2em;
  }

  #score {
    font-size: 1em;
  }

  #startScreen p {
    font-size: 1em;
  }

  #startScreen button {
    font-size: 1em;
    padding: 8px 16px;
  }
}
